.body,
.content,
.emi-wrap .em {
    text-align: left
}
.emi-wrap .col,
.elem label,
.mfix {
    white-space: nowrap
}
.emi-check-label,
.nocvv-check,
.btn,
.checkbox,
.grid .item,
button,
label[for] {
    cursor: pointer
}
.dropdown,
.elem label,
.help,
.select-arrow {
    pointer-events: none
}
.powered-by a,
a {
    text-decoration: none
}
.shake {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}
@-webkit-keyframes spring {
    0% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px)
    }
    7.61% {
        -webkit-transform: translateY(-32.46px);
        transform: translateY(-32.46px)
    }
    11.41% {
        -webkit-transform: translateY(-18.37px);
        transform: translateY(-18.37px)
    }
    15.12% {
        -webkit-transform: translateY(-8.31px);
        transform: translateY(-8.31px)
    }
    18.92% {
        -webkit-transform: translateY(-1.41px);
        transform: translateY(-1.41px)
    }
    22.72% {
        -webkit-transform: translateY(2.64px);
        transform: translateY(2.64px)
    }
    30.23% {
        -webkit-transform: translateY(5.06px);
        transform: translateY(5.06px)
    }
    50.25% {
        -webkit-transform: translateY(1.07px);
        transform: translateY(1.07px)
    }
    70.27% {
        -webkit-transform: translateY(-.24px);
        transform: translateY(-.24px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes spring {
    0% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px)
    }
    7.61% {
        -webkit-transform: translateY(-32.46px);
        transform: translateY(-32.46px)
    }
    11.41% {
        -webkit-transform: translateY(-18.37px);
        transform: translateY(-18.37px)
    }
    15.12% {
        -webkit-transform: translateY(-8.31px);
        transform: translateY(-8.31px)
    }
    18.92% {
        -webkit-transform: translateY(-1.41px);
        transform: translateY(-1.41px)
    }
    22.72% {
        -webkit-transform: translateY(2.64px);
        transform: translateY(2.64px)
    }
    30.23% {
        -webkit-transform: translateY(5.06px);
        transform: translateY(5.06px)
    }
    50.25% {
        -webkit-transform: translateY(1.07px);
        transform: translateY(1.07px)
    }
    70.27% {
        -webkit-transform: translateY(-.24px);
        transform: translateY(-.24px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: none;
        transform: none
    }
    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg)
    }
    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg)
    }
    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-3deg);
        transform: translateX(-3px) rotateY(-3deg)
    }
    87.5% {
        -webkit-transform: translateX(2px) rotateY(2deg);
        transform: translateX(2px) rotateY(2deg)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes shake {
    0% {
        -webkit-transform: none;
        transform: none
    }
    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg)
    }
    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg)
    }
    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-3deg);
        transform: translateX(-3px) rotateY(-3deg)
    }
    87.5% {
        -webkit-transform: translateX(2px) rotateY(2deg);
        transform: translateX(2px) rotateY(2deg)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}
.header::before,
.help::after,
.mfix::after {
    content: ""
}
body.embedded .topbar {
    -webkit-transition: none;
    transition: none
}
.elem-wrap {
    height: 72px
}
.elem {
    color: #424242;
    border-bottom: 1px solid #e6e7e8;
    position: relative;
    margin-bottom: 5px;
}
.elem input {
    opacity: 0
}
.elem i {
    position: absolute;
    font-size: 20px;
    bottom: 6px;
    right: 0;
    color: #8f8f8f
}
.elem label {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    color: #757575;
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 1
}
.font-loaded .elem label {
    -webkit-transition: .3s;
    transition: .3s
}
.filled label,
.focused label {
    -webkit-transform: scale(.86) translateY(-20px);
    -ms-transform: scale(.86) translateY(-20px);
    transform: scale(.86) translateY(-20px)
}
.filled .input-prefix,
.filled input,
.focused .input-prefix,
.focused input {
    opacity: 1
}
.input {
    -webkit-transition: .3s;
    transition: .3s;
    font-size: inherit;
    border: none;
    outline: 0;
    background: 0 0;
    display: block;
    width: 100%;
    line-height: 19px;
    padding: 28px 0 7px;
    margin: 0;
    position: relative;
    color: inherit
}
.help,
.help::after,
.input-prefix {
    position: absolute
}
input[type=radio]:checked+label {
    background: #f0f0f0
}
button,
input {
    background: 0 0;
    border: none;
    outline: 0
}
input[type=radio]:checked+label .item-inner {
    top: 1px
}
.btn,
.help {
    border-radius: 3px
}
@media screen and (min-width: 0 0) {
    .help {
        display: none
    }
}
.dropdown,
.help {
    display: none 9;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: .25s ease-in transform, .16s ease-in opacity;
    transition: .25s ease-in transform, .16s ease-in opacity
}
.help {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    padding: 8px 12px;
    font-size: 12px;
    background: #555;
    -webkit-box-shadow: rgba(0, 0, 0, .05) 1px 1px 2px 0;
    box-shadow: rgba(0, 0, 0, .05) 1px 1px 2px 0;
    z-index: 3;
    top: 100%;
    margin-top: 10px;
    pointer-events: none!important
}
.profile,
.grid img {
    pointer-events: none
}
.help::after {
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555;
    bottom: 100%;
    left: 20px;
    margin: 0 0 -1px -10px
}
.btn {
    background: #29b7d8;
    line-height: 40px;
    color: #fff;
    padding: 0 16px;
    font-weight: 700;
    text-transform: uppercase
}
.back,
.grid .item {
    float: left
}
.mchild,
.mfix::after {
    display: inline-block;
    vertical-align: middle
}
.form-card.nocvv .elem-wrap.two-third {
    width: 100%
}
.clear {
    clear: both;
    overflow: auto
}
.content,
.mchild {
    white-space: normal
}
.content{
    -webkit-box-shadow: 0 0 1px 0 #A8A8A8;
    box-shadow: 0 0 1px 0 #A8A8A8;
    background: #fff;
    border-radius: 3px 3px 0 0;
}
.mfix::after {
    height: 96%;
    width: 0
}
.merchant,
.user,
.phone-print {
    white-space: nowrap
}
body,
html {
    height: 100%;
    margin: 0;
    -webkit-overflow-scrolling: touch
}
.double {
    width: 100%
}
.double .second {
    text-align: right
}
.container,
.footer,
.form-otp,
.logo,
.otp-prompt,
.otp-sec-outer,
.saved-cards-container .cardtype,
.show-add-card::before,
.add-funds,
.close,
.grid {
    text-align: center
}
.double .first,
.double .second {
    float: left;
    width: 50%
}
.pad {
    padding: 0 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40px;
}
.wallets .help {
    left: 12px
}
.grid .item,
.grid label {
    -webkit-box-sizing: border-box
}
.grid .item {
    width: 100%;
    -webkit-transition: .2s;
    transition: .2s;
    border-bottom: 1px solid #e6e7e8;
    box-sizing: border-box
}
.grid label {
    box-sizing: border-box;
    cursor: inherit;
    height: 86px;
    display: block;
    font-size: 14px
}
.modal,
.spin div {
    -webkit-box-sizing: border-box
}
.link,
.text-btn {
    font-size: 12px;
    cursor: pointer
}
.grid label:hover {
    background: #fcfbfa
}
.body,
.header,
.logo {
    background: #fff
}
a {
    outline: 0;
    color: inherit;
    cursor: pointer;
    color:#46B1FF;
}
i {
    font-style: normal;
    opacity: 0
}
.spin {
    display: none;
    width: 30px;
    height: 30px;
    margin: 0 auto
}
.backdrop,
.container,
.footer span,
.footer::after,
.form,
.form-fields,
.spin div {
    height: 100%
}
.spin div {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    border: 4px solid #46B1FF;
    -webkit-animation: spin 1.3s linear infinite;
    animation: spin 1.3s linear infinite;
    box-sizing: border-box;
    opacity: 0
}
.spin2 {
    margin: -60px auto 20px
}
.spin2 div {
    -webkit-animation-delay: .65s;
    animation-delay: .65s
}
.loading .spin {
    display: block
}
.container {
    margin: 0 auto;
    -webkit-transition: .3s ease-out opacity;
    transition: .3s ease-out opacity;
    z-index: 19999
}
.container.nasty,
.container.nasty .powered-by {
    opacity: 1
}
.container.nasty .modal {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: .3s cubic-bezier(.3, 1.5, .7, 1) -webkit-transform;
    transition: .3s cubic-bezier(.3, 1.5, .7, 1) -webkit-transform;
    transition: .3s cubic-bezier(.3, 1.5, .7, 1) transform;
    transition: .3s cubic-bezier(.3, 1.5, .7, 1) transform, .3s cubic-bezier(.3, 1.5, .7, 1) -webkit-transform
}
.container.notopbar .topbar {
    display: none!important
}
.container.notopbar .tab-content {
    top: 0
}
.container.notopbar .form-card {
    padding-top: 24px
}
.tab-emi,
.topbar,
.user,
.font-loaded .iph {
    display: none
}
.backdrop {
    position: absolute;
    min-height: 100%;
    transition: 0.3s ease-out;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.font-loaded .modal,
.font-loaded button,
.font-loaded input,
.font-loaded select {
    font-family: lato, ubuntu, helvetica, sans-serif;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0
}
.font-loaded .powered-by {
    visibility: visible;
    opacity: 1
}
.font-loaded i {
    opacity: 1
}
.font-loaded .amount i {
    position: static
}
.amount i,
.header::before,
.powered-by,
.close {
    position: absolute
}
.header,
.modal {
    position: relative
}
.modal {
    box-sizing: border-box;
    display: inline-block;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    z-index: 1;
    -webkit-perspective: 300;
    perspective: 300;
    opacity: 0;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    color: #333;
    font-size: 14px;
    width: 344px;
    font-family: ubuntu, helvetica, sans-serif
}
.header {
    border-radius: 3px 3px 0 0;
    color: #fff;
    padding: 10px;
    overflow: hidden;
    max-height: 128px;
    z-index: 3;
    background: #48b2ff;
}
.header::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, .2)), to(rgba(0, 0, 0, .2)));
    background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2))
}
.close {
    right: 4px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: .6;
    width: 24px;
    line-height: 26px
}
.body.emi-focus,
.form-fields,
.logo,
.merchant {
    position: relative
}
.close:hover {
    opacity: 1
}
.logo {
    padding: 4px 8px;
    width: 64px;
    border-radius: 3px;
    margin: auto;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.logo img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%
}
.merchant {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .12)
}
.merchant-name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    text-align:center;
    padding: 8px 20px 0;
}
.merchant-desc {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .8;
    margin-top: 12px;
}
.amount {
    font-size: 18px;
    }
.body {
    border-radius: 0 0 3px 3px;
    height: 365px;
    backface-visibility: none;
}
.body.emi-focus {
    z-index: 10
}
.body.emi-focus .form-fields {
    z-index: 2;
    background: 0 0
}
.error-message,
.form-fields,
.otp-elem::after,
.profile,
.stackable,
.tab-content {
    background: #fff
}
.body[screen=otp] .otp-btn {
    opacity: 1
}
.body[screen=otp] .pay-btn {
    opacity: 0
}
.body.sub .footer {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}
.footer,
.profile {
    opacity: 0;
    position: absolute
}
.body.sub .form-fields {
    border-radius: 0
}
.form-fields {
    z-index: 1;
    border-radius: 0 0 3px 3px
}
.topbar {
    cursor: pointer;
    background: #fcfbfa;
    line-height: 50px;
    border-bottom: 1px solid #e6e7e8;
    -webkit-transition: .3s opacity ease-in 0s, .1s color, .3s -webkit-transform ease-in 0s;
    transition: .3s opacity ease-in 0s, .1s color, .3s -webkit-transform ease-in 0s;
    transition: .3s transform ease-in 0s, .3s opacity ease-in 0s, .1s color;
    transition: .3s transform ease-in 0s, .3s opacity ease-in 0s, .1s color, .3s -webkit-transform ease-in 0s;
    color: #757575;
    position: absolute;
    left: 1px;
    right: 1px;
    height: 50px;
    z-index: 2
}
.topbar img {
    padding-top: 15px
}
.top-left,
.top-right {
    padding: 0 24px;
    -webkit-transition: .2s;
    transition: .2s
}
.top-left:hover,
.top-right:hover {
    color: #404040
}
.error-message,
.button {
    -webkit-transition: .2s
}
.form-card i {
    display: none
}
.form-card i.info {
    display: initial;
    font-size: 16px
}
.fd-t,
.mobile .emi-wrap .col {
    white-space: normal
}
.nocvv {
    display: none
}
.view-emi-plans {
    cursor: pointer
}
.legend {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 10px 0
}
.payment-options {
    border-top: 1px solid #e6e7e8;
    background: #fff
}
.payment-options.count-4 .item {
    width: 25%
}
.payment-options label {
    padding-top: 16px;
    height: 46px;
    background: #46B1FF;
    color: #fff;
}
.payment-options label:hover{
    -webkit-transition: .2s;
    transition: .2s;
    background: #2499ef;
}
.payment-options i {
    display: block;
    font-size: 40px;
    color: #29b7d8;
    margin: 0 0 -4px;
    -webkit-transition: .3s;
    transition: .3s
}
.payment-options .item {
    border-bottom: none!important
}
.stackable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 3px 3px
}
.error-message,
.overlay {
    bottom: -55px;
    width: 100%;
    z-index: 99;
    position: absolute
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0;
        border-width: 8px
    }
    20% {
        -webkit-transform: scale(.6);
        transform: scale(.6);
        opacity: .8;
        border-width: 4px
    }
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}
@keyframes spin {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0;
        border-width: 8px
    }
    20% {
        -webkit-transform: scale(.6);
        transform: scale(.6);
        opacity: .8;
        border-width: 4px
    }
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

.limitAvailable{
    border: 1px solid #65e6cf;
    border-radius: 2px;
    margin: 10px auto;
    width: 90%;
    font-size: 14px;
    background: #e4fffa;   
}
.limitAvailable .item{
    padding: 8px;
    border-top: 1px solid #65e6cf;
}
.limitAvailable .item:first-child{
    border-top: 0;
}
.limitAvailable .item .value{
    color: #07b0a4;
}
.limitAvailable .item .details{
    width: 115px;
    float: left;
}
.resendOTP{
    text-align: center;
    margin-top: 10px;
}
.primaryButton{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
}
.errorMsg{
    color: #ff0000;
    text-align: center;
    font-size: 12px;
}
.success-message-section{
    color: #31ba74;
    text-align: center;
    font-size: 12px;

}
.capture-payment-success{
    background: #31ba74;
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 68%;
    margin: 40px auto 0;
    padding: 10px;
    border-radius: 3px;
    line-height: 22px;
}
.brandName{
    font-size: 16px;
    padding: 0px 4px 8px 4px;
}
